{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}"/>
{% endblock %}

{% block content %}
  <div class="auth-container">
    <div class="logo-panel">
      <div class="logo-container">
          <img src="{% static 'img/portada.png' %}" alt="DermaIA Logo" class="logo"/>

      </div>
    </div>
    <div class="auth-card">
      <form method="post" class="auth-form">
        {% csrf_token %}
        <h2>Has olvidado tu contraseña</h2>
        <h3>
          Por favor ingrese su correo de usuario para restablecer la contraseña
        </h3>
        <div class="form-group">
          <label for="email">Correo Electrónico</label>
          <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Ingrese su correo electrónico"
                  required
          />
        </div>
        <button type="submit" class="btn-auth">Enviar Restablecimiento</button>
        <div class="auth-links">
          <a href="{% url 'auth:login' %}">Volver a Inicia sesión</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
