{% load static %} {% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}"/>
{% endblock %} {% block content %}
  <div class="auth-container">
    <div class="logo-panel">
      <div class="logo-container">
    <img src="{% static 'img/portada.png' %}" alt="DermaIA Logo" class="logo"/>
      </div>
    </div>
    <div class="auth-card">
      <div class="check-circle">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
        >
          <polyline points="20 6 9 17 4 12"></polyline>
        </svg>
      </div>
      <h2>Cambio de contraseña Exitoso</h2>
      <p>
        ¡Felicitaciones! Su contraseña se ha actualizado correctamente. Haga clic
        en "Continuar" para iniciar sesión.
      </p>
      <a href="{% url 'auth:login' %}" class="btn-auth">Continuar</a>
    </div>
  </div>
{% endblock %}
