{% extends 'components/base.html' %} {% load static %} {% block title %}Mi
  Perfil - DermaIA{% endblock %} {% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}"/>
{% endblock %} {% block content %}
  <div class="profile-container">
    <h1 class="page-title">Perfil de usuario</h1>

    <div class="profile-layout">
      <div class="profile-photo-section">
        <div class="photo-label">Foto de perfil</div>
        <div class="profile-picture-container">
          {% if user.profile_picture %}
            <img class="profile-picture" src="{{ user.profile_picture.url }}" alt="Foto de perfil"/>
          {% else %}
            <img class="profile-picture" src="{% static 'img/avatar.jpg' %}" alt="Foto de perfil predeterminada"/>
          {% endif %}
        </div>
      </div>

      <div class="profile-info-section">
        <div class="profile-field">
          <div class="profile-field-label">Nombres</div>
          <div class="profile-field-value">{{ user.first_name }}</div>
        </div>

        <div class="profile-field">
          <div class="profile-field-label">Apellidos</div>
          <div class="profile-field-value">{{ user.last_name }}</div>
        </div>

        <div class="profile-field">
          <div class="profile-field-label">DNI</div>
          <div class="profile-field-value">{{ user.dni|default:"No especificado" }}</div>
        </div>

        <div class="profile-field">
          <div class="profile-field-label">Dirección</div>
          <div class="profile-field-value">{{ user.address|default:"No especificada" }}</div>
        </div>

             <div class="profile-field">
          <div class="profile-field-label">Ciudad</div>
          <div class="profile-field-value">{{ user.city|default:"No especificada" }}</div>
        </div>

        <div class="profile-field">
          <div class="profile-field-label">Teléfono</div>
          <div class="profile-field-value ">{{ user.phone|default:"No especificado" }}</div>
        </div>

        <div class="profile-field">
          <div class="profile-field-label">Correo</div>
          <div class="profile-field-value">{{ user.email }}</div>
        </div>

        <div class="profile-actions">
          <a
                  href="{% url 'auth:update_profile' %}"
                  class="btn-update-profile"
          >
            Actualizar Perfil
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
